.custom-menu-icon.navbar-toggler {
    background-color: #ff7300;
}

.link-style {
    text-decoration: none; 
}

.text-color {
    color: #ff7300;
    transition: transform 0.2s;
}

.text-color:hover {
    color: #FFA500;
    transform: scale(1.1);
}

.background-color{
    background-color: #2b2928;
}

.custom-dropdown-item {
    transition: background-color 0.3s, transform 0.3s; 
    color: #FFA500;
}

.custom-dropdown-item:hover {
    transform: scale(1.1); 
}

.custom-dropdown-item .dropdown-menu {
    margin-top: -25px;
    background-color: #4d4a48;
}

.custom-dropdown-item .text-color {
    background-color: transparent; 
}

.custom-dropdown-item .submenu-item {
    background-color: transparent; 
}

