.text-color {
    color: #ff7300;
    transition: transform 0.2s;
}

.text-color:hover {
    color: #FFA500;
    transform: scale(1.1);
}

.background-color{
    background-color: #2b2928;
}

.custom-menu-icon {
    background-color: #ff7300; 
  }
