.custom-menu-icon.navbar-toggler {
    background-color: #ff7300;
}

.link-style {
    text-decoration: none; 
}

.text-color {
    color: #ff7300;
    transition: transform 0.2s;
}

.text-color:hover {
    color: #FFA500;
    transform: scale(1.1);
}

.custom-dropdown-menu .dropdown-menu {
    text-align: center; 
}

.custom-dropdown-menu .dropdown-item {
    line-height: 2; 
}

.background-color{
    background-color: #2b2928;
}

.custom-dropdown-item {
    transition: background-color 0.3s, transform 0.3s; 
    color: #FFA500;
}

.custom-dropdown-item:hover {
    transform: scale(1.1); 
}

.custom-dropdown-item .dropdown-menu {
    margin-top: -25px;
    background-color: #4d4a48;
}

.custom-dropdown-item .text-color {
    background-color: transparent; 
}

.custom-dropdown-item .submenu-item {
    background-color: transparent; 
}

.img_logo {
    position: absolute;
    width: 150px;
    height: 130px;
    right: 80%;
    top: 20%;
    left: 10%;
  }

.custom-link {
    font-size: 30px;
    font-family: 'Korataki', serif;
    margin-left: 30px;
    margin-top: -80px;
  }

.custom-link-menu{
    font-size: 30px;
    font-family: 'Korataki', serif;
    margin-left: 30px;
    margin-top: -87px; 
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .img_logo {
        position: absolute;
        width: 70px;
        height: 65px;
        right: 80%;
        top: 68%;
        left: 70%;
      }

    .custom-link {
        font-size: 20px;
        font-family: 'Korataki', serif;
        margin-left: 10px;
        margin-top: 10px;
        transition: transform 0.2s;
    }

    .custom-link-menu{
        font-size: 20px;
        font-family: 'Korataki', serif;
        margin-left: 10px;
        margin-top: 0px;
        transition: transform 0.2s; 
    }

    .custom-link:hover{
        transform: scale(1.1); 
    }

    .custom-link-menu:hover{
        transform: scale(1.1); 
    }
} 

@media screen and (min-width: 768px) and (max-width: 991px) {
    .img_logo {
        position: absolute;
        width: 120px;
        height: 105px;
        right: 80%;
        top: 68%;
        left: 70%;
      }

    .custom-link {
        font-size: 30px;
        font-family: 'Korataki', serif;
        margin-left: 10px;
        margin-top: 10px;
    }

    .custom-link-menu{
        font-size: 30px;
        font-family: 'Korataki', serif;
        margin-left: 10px;
        margin-top: 0px; 
    }
} 

@media (max-width: 991px) {
    .custom-navbar .navbar-nav .nav-item .dropdown-menu {
        top: 100% !important;
        transform: translateY(0) !important;
    }
  }

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .img_logo {
        position: absolute;
        width: 120px;
        height: 100px;
        right: 80%;
        top: 40%;
        left: 5%;
        }

    .custom-link {
        font-size: 25px;
        font-family: 'Korataki', serif;
        margin-left: 30px;
        margin-top: -80px;
        }

    .custom-link-menu{
        font-size: 25px;
        font-family: 'Korataki', serif;
        margin-left: 30px;
        margin-top: -87px; 
    }
} 
