.whatsapp-link {
  position: fixed;
  width: 102px; 
  height: 102px;
  bottom: 68px;
  right: 68px; 
  background-color: #25d366;
  background-image: url('../../images/whats.png');
  background-size: cover; 
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  transition: transform 0.2s;
}  

.whatsapp-link:hover {
  transform: scale(1.1); 
}

.Title-container{
  width: 100%;
  /* background-color: #f2f2f2; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute; 
  bottom: 600px; 
  left: 0; 
  right: 0; 
}

.Title-text{
  color: rgb(255, 115, 0);
  font-family: korataki, serif;
  font-size: 50px;
}