.imagem-social {
    width: 300px; 
    height: 200px; 
    max-width: 100%;
    margin-bottom: 60%;
    transition: transform 0.3s;
    border-radius: 50%;
  }  
  
.imagem-social:hover{
    transform: scale(1.035);     
}



  