a {
  text-decoration: none;
}

::selection {
  background-color: rgb(255, 115, 0);
  color: black; 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

 .img-container1 {
  width: 550px;
  height: 500px;
  background-image: url('../../images/arma3.jpg'); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 30px; 
  margin-left: 35px;
  transition: transform 0.2s;
  cursor: pointer;
  flex: 1;
  color: transparent;
}

.img-container2 {
  width: 550px;
  height: 500px;
  background-image: url('../../images/arma2.jpg'); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 30px; 
  transition: transform 0.2s;
  cursor: pointer;
  flex: 1;
  margin-left: 20px;
  color: transparent;
}

.img-container1:hover {
  transform: scale(1.035); 
}

.img-container2:hover {
  transform: scale(1.035); 
}

.text-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.container-left,
.container-right {
  text-align: center; 
  margin: 0 80px; 
}

.column-1 {
  flex: 1; 
}

.column-2{
  flex: 1;
}

.text-name_image1 {
  text-align: center;
  color: rgb(255, 115, 0);
  font-family: korataki, serif;
  font-size: 34px;
  position: relative;
  top: 20px;
  margin-top: 0px;
}

.text-name_image2 {
  text-align: center;
  color: rgb(255, 115, 0);
  font-family: korataki, serif;
  font-size: 34px;
  position: relative;
  top: 20px;
  margin-top: 0px;
}

@media screen and (max-width: 1600px) {

  .text-img-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .container-left,
  .container-right {
    text-align: center; 
    margin: 0 80px; 
  } 

  .img-container1 {
    width: 550px;
    height: 400px;
    background-image: url('../../images/arma3.jpg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 30px; 
    margin-left: 35px;
    transition: transform 0.2s;
    cursor: pointer;
    flex: 1;
    color: transparent;
  }
  
  .img-container2 {
    width: 550px;
    height: 400px;
    background-image: url('../../images/arma2.jpg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 30px; 
    transition: transform 0.2s;
    cursor: pointer;
    flex: 1;
    margin-left: 20px;
    color: transparent;
  }
  
}

@media screen and (max-width: 800px) {
  .text-img-container {
    flex-direction: column;
    padding: 20px; 
    top: 580px;
  }

  .container-left,
  .container-right {
    margin: 20px 0; 
  }

  .column-1,
  .column-2 {
    text-align: center;
  }
}