.Content-container-error{
  width: 1600px;
  height: 400px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 330px;
}

.text-error {
  color: rgb(255, 115, 0);
  font-family: korataki, serif;
  font-size: 70px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.submenu {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 20;
  right: 1%;
  background-color: #44413f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0;
  transform: translateX(-10px); 
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.menu-button:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s;
}

.submenu ul {
  padding: 10px;
}

.submenu a {
  text-decoration: none;
  color: rgb(255, 115, 0);
}

.submenu a:hover {
  color: rgb(255, 238, 0);
}

@media screen and (max-width: 1024px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }

  }
  
  @media screen and (max-width: 480px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }
  }