.Content-container-error{
  width: 1600px;
  height: 400px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 330px;
}

.text-error {
  color: rgb(255, 115, 0);
  font-family: korataki, serif;
  font-size: 70px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }

  }
  
  @media screen and (max-width: 480px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }
  }